@model KuaforUygulamasi.Models.RandevuViewModel

@{
    ViewData["Title"] = "Randevu Al";
}

<div class="container mt-5">
    <h2>Randevu Al</h2>
    <form asp-controller="Randevu" asp-action="CreateRandevu" method="post">
        <div class="form-group">
            <label for="Islem">Hizmet Seçimi</label>
            <select id="Islem" name="IslemID" class="form-control">
                @foreach (var islem in Model.IslemListesi)
                {
                    <option value="@islem.ID">@islem.Ad - @islem.Ucret ₺</option>
                }
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="Calisan">Çalışan Seçimi</label>
            <select id="Calisan" name="CalisanID" class="form-control">
                @foreach (var calisan in Model.CalisanListesi)
                {
                    <option value="@calisan.ID">@calisan.Ad @calisan.Soyad</option>
                }
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="TarihSaat">Tarih ve Saat</label>
            <input type="datetime-local" id="TarihSaat" name="Saat" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Randevu Al</button>
    </form>

</div>
